<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Food Shop Inventory</title>
  <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/inventory"> Inventory </a>
    <a href="/inventory/product/add-product"> Add Product </a>
  </nav>
  <%= yield %>
</body>
</html>
